<div class="container-fluid tag">
  <h2><%= @tag.title %></h2>


  <div class="row">
    <% @destinations.each do |d| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= link_to destination_path(d) do %>

        <%= image_tag d.image, :class => "img" %>
        <h3 class="link"><%= d.name %></h3>
      <% end %>
      <p><%= d.description %></p>
    </div>

    <% end %>
  </div>

  <%= link_to tags_path do %>
    <h2 class="link back">Back</h2>
  <% end %>

</div>

