<div class="container destination">
  <%= image_tag @destination.image %>
  
	<%= form_for(@destination) do |d| %>
      <%= d.text_field :name, :size => "50" %> <br>
      <%= d.text_area :description, :size => "100x10" %><br>
  		<%= d.submit "Save", :class =>"link save" %>
  <% end %>

</div>


