<div class="container destination">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @destination.image %>
      <h2><%= @destination.name %></h2>
      <p><%= @destination.description %></p>

      <%= link_to edit_destination_path(@destination) do %>
        <h2 class="link right">Edit</h2>
      <% end %>
     
      <%= link_to :back do %>
        <h2 class="link">Back</h2>
      <% end %>
    </div>
  </div>

  

</div>


